cachetools==3.1.0
certifi==2019.3.9
cffi==1.14.3
chardet==3.0.4
Click==7.0
Flask==1.0.2
google-api-core==1.23.0
google-auth==1.23.0
google-cloud-bigquery==2.3.1
google-cloud-bigquery-storage==2.1.0
google-cloud-core==1.4.3
google-cloud-logging==1.15.1
google-crc32c==1.0.0
google-resumable-media==1.1.0
googleapis-common-protos==1.52.0
grpcio==1.33.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
libcst==0.3.13
MarkupSafe==1.1.1
mypy-extensions==0.4.3
numpy==1.19.4
pandas==1.1.4
proto-plus==1.11.0
protobuf==3.14.0
pyarrow==2.0.0
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycparser==2.20
python-dateutil==2.8.1
pytz==2019.1
PyYAML==5.3.1
requests==2.21.0
rsa==4.0
six==1.15.0
typing-extensions==3.7.4.3
typing-inspect==0.6.0
urllib3==1.24.3
Werkzeug==0.15.2